.tagProject{
    display: inline-block;
}

.tagProject ul{
    list-style-type: none;
}

.tagProject ul li{
    display: inline-block;
    padding: 3px 5px;
    margin-right: 8px;
    margin-top: 6px;
    background: whitesmoke;
}

.tagProject ul li:hover{
    cursor: pointer;
}

.tagProject ul .tagProjectButtonAdd{
        background: inherit;
}

.tagProject ul .tagProjectButtonAdd:hover{
        cursor: initial;
}


.tagProject ul .tagProjectButtonAdd button{
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
}

.tagProject ul .tagProjectButtonAdd button:hover{
    background-color: #e6e6e6;
}

.tagProject .tagProjectButtonAdd .tagProjectDropdown{
    position: absolute;
    width: auto;
    min-width: 150px;
    margin-top: 10px;
    max-height: 220px;
    z-index: 501;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    display: none;
    overflow: auto;
}

.tagProject .tagProjectButtonAdd .tagProjectDropdown:before{
    position: absolute;
    top: -8px;
    left: 9px;
    right: auto;
    display: inline-block!important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e0e0e0;
    border-left: 8px solid transparent;
    content: '';
}

.tagProject .tagProjectButtonAdd .tagProjectDropdown:after{
    position: absolute;
    top: -7px;
    left: 10px;
    right: auto;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    content: '';
}

.tagProject .tagProjectButtonAdd .tagProjectDropdown.active{
    display: block;
}


.tagProject .tagProjectButtonAdd .tagProjectDropdown li{
    position: relative;
    margin-top: 8px; 
    max-width: 128px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-right: initial;
}

.tagProjectDropdown  li .fa{
    position: absolute;
    right: 5px;
    top: 4px;
}

.tagProject .fa{
    margin-left: 3px;
    border-radius: 50%;
    background-color: #e0eaf1;
    padding: 2px 3px;
    color: #8e8e8e;
}

.tagProject .fa:hover{
    color: #404040;
    background-color: #c8d8e3;
}

.tagProject .tagProjectButton .fa{
    margin-left: inherit;
    border-radius: initial;
    background-color: inherit;
    padding: inherit;
    color: inherit;
}